.img{
width: 100%;
margin:0px;
}
.about{
    color: white;
    background-color: rgb(63, 71, 73);
    margin: auto 0;
}
h3{
    margin: 0;
    height: 100%;
    padding-bottom: 40px;
    padding-top: 20px;
    font-family: 'Permanent Marker', cursive;
    letter-spacing: 2px;
}
p{
    margin: 0;
    padding: 0px 10px  20px  10px;
    font-family: 'Poppins', sans-serif;
}
@media (min-width: 768px) and (max-width: 1023px){
}
@media (min-width: 1024px){
    p{
        font-size: 21px;
        margin-bottom: 20px;
    }
    h3{
        font-size:36px;
    }
}
