.Foot{
    background-color: white;
    margin: 0;
    height: 50px; 
    display: flex;
    flex: wrap;
    font-family: 'Do Hyeon', sans-serif;    
}
h2{
    text-decoration: none;
    font-family: 'Permanent Marker', cursive;
}
@media (min-width: 768px) and (max-width: 1023px){
    .Foot>h2{
        padding-left: 300px;
    }
}
@media (min-width: 1024px){
    .Foot>h2{
        padding-left: 380px;
        font-size: 40px;
        text-decoration: none;    
    }
    .Foot{
        padding-bottom: 19px;
    }
}