.Foot{
    background-color: white;
    margin: 0;
    height: 50px; 
    display: flex;
    flex: wrap;
    padding-left: 45px;
    font-family: 'Do Hyeon', sans-serif;
}
p{
    display: flex;
    padding-top: 30px;
}